<div class="page page--background">
    <header>
        {{>back-button}}
    </header>
    <form action="" class="page__section">
        <h1>Home</h1>

        <a class="button" href="/logout">logout</a>
    </form>
</div>