@use '../../style' as s;

.button {
  color: s.color(white);
  background-color: s.color(main);
  padding: s.space(4) s.space(8);
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  @include s.click;

  &:active {
    opacity: 0.3;
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;

    &:hover,
    &:active {
      opacity: 0.5;
      cursor: default;
    }
  }
}
