<div class="page page--background page--home">
    <header>
        {{>back-button}}
    </header>
    <a href="" class="user-title">
        <div class="user-email"></div>
        <p class="user-role"></p>
    </a>

    <form action="" class="page__section">

        <a class="button" href="/user-list">User List</a>
        <a class="button" href="/recovery">Recovery pass</a>
        <a class="button" href="/login">Login</a>
        <a class="button" href="/logout">Logout</a>

    </form>
</div>