<div class="page page--background">
    <header>
        {{>back-button}}
    </header>

    <form action="" class="page__section">
        {{!-- <a href="/signup" class="button" type="button">Signup</a>
        <a href="/recovery" class="button" type="button">Recovery</a> --}}

    </form>

</div>